In [1]:
import pandas as pd
import numpy as np

Set up complete. Proceeding to load raw data

In [3]:
expr_df = pd.read_csv(r"C:\Users\Lenovo\Desktop\UG Stream\GSE38417_series_matrix.txt", sep='\t', comment='!')

Inspecting data

In [5]:
expr_df.head()

,ID_REF,GSM941830,GSM941831,GSM941832,GSM941833,GSM941834,GSM941835,GSM941836,GSM941837,GSM941838,...,GSM941842,GSM941843,GSM941844,GSM941845,GSM941846,GSM941847,GSM941848,GSM941849,GSM941850,GSM941851
0,1007_s_at,8.194030,7.972467,8.157134,7.636012,8.179456,8.157134,8.548834,8.160013,7.763270,...,8.489141,8.286313,8.719496,8.344026,8.212786,7.810675,8.184730,7.774867,8.458218,8.392681
1,1053_at,6.298441,6.394953,5.997119,6.346331,6.203464,6.292238,6.585303,6.757991,6.527328,...,6.551727,6.389537,6.588681,6.768794,6.649650,7.223194,7.050130,6.506544,6.450446,6.439627
2,117_at,4.203416,3.652012,4.175532,4.533106,4.086246,4.533106,5.183139,4.639175,4.763014,...,4.760687,4.536537,4.980105,4.476347,4.241995,4.165596,5.489344,5.068763,5.323427,4.571806
3,121_at,3.880678,3.982034,3.880678,3.880678,3.880678,3.880678,3.881049,3.897314,3.880678,...,4.895792,3.880678,3.880678,3.880678,3.880678,4.144318,3.880678,3.880678,3.880678,3.931564
4,1255_g_at,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,...,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655

Inspecting Metadata

In [7]:
with open(r"C:\Users\Lenovo\Desktop\UG Stream\GSE38417_series_matrix.txt", "r") as f:
    geo_lines = f.readlines()
for line in geo_lines[:40]:
    print(line.strip())

!Series_title	"Gene expression data from Duchenne muscular dystrophy patients versus controls"
!Series_geo_accession	"GSE38417"
!Series_status	"Public on Jul 01 2016"
!Series_submission_date	"Jun 01 2012"
!Series_last_update_date	"Dec 09 2019"
!Series_summary	"gene expression data is from RNA extracted from muscle biopsy samples taken from boys with Duchenne muscular dystrophy (DMD) or pathologically normal controls (CTRL). Each muscle biospy was examined in detail histologically by Dr. Eric P. Hoffman at Children's National Medical Center to determine stage of disease. In addition, the absence or presence of dystrophin was determined via western blot analyses."
!Series_summary	"We utilized Human U133 2.0 arrays to examine the transcriptome of each muscle, and then we compared differential gene expression between DMD patient muscles and CTRL muscules. We set the FDR p value for significance at 0.05 and at least a 1.5 fold difference in DMD/CTRL"
!Series_overall_design	"compared differential gene exrpression between DMD versus Control"
!Series_type	"Expression profiling by array"
!Series_contributor	"Susan,G,Dorsey"
!Series_contributor	"Christopher,W,Ward"
!Series_sample_id	"GSM941830 GSM941831 GSM941832 GSM941833 GSM941834 GSM941835 GSM941836 GSM941837 GSM941838 GSM941839 GSM941840 GSM941841 GSM941842 GSM941843 GSM941844 GSM941845 GSM941846 GSM941847 GSM941848 GSM941849 GSM941850 GSM941851 "
!Series_contact_name	"Susan,G,Dorsey"
!Series_contact_email	"sdorsey@son.umaryland.edu"
!Series_contact_department	"Pain and Translational Symptom Science"
!Series_contact_institute	"University of Maryland Baltimore"
!Series_contact_address	"655 West Lombard Street"
!Series_contact_city	"Baltimore"
!Series_contact_zip/postal_code	"21201"
!Series_contact_country	"USA"
!Series_supplementary_file	"ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE38nnn/GSE38417/suppl/GSE38417_RAW.tar"
!Series_platform_id	"GPL570"
!Series_platform_taxid	"9606"
!Series_sample_taxid	"9606"
!Series_relation	"BioProject: https://www.ncbi.nlm.nih.gov/bioproject/PRJNA167804"

!Sample_title	"control biological rep1"	"control biological rep2"	"control biological rep3"	"control biological rep4"	"control biological rep5"	"control biological rep6"	"DMD biological rep1"	"DMD biological rep2"	"DMD biological rep3"	"DMD biological rep4"	"DMD biological rep5"	"DMD biological rep6"	"DMD biological rep7"	"DMD biological rep8"	"DMD biological rep9"	"DMD biological rep10"	"DMD biological rep11"	"DMD biological rep12"	"DMD biological rep13"	"DMD biological rep14"	"DMD biological rep15"	"DMD biological rep16"
!Sample_geo_accession	"GSM941830"	"GSM941831"	"GSM941832"	"GSM941833"	"GSM941834"	"GSM941835"	"GSM941836"	"GSM941837"	"GSM941838"	"GSM941839"	"GSM941840"	"GSM941841"	"GSM941842"	"GSM941843"	"GSM941844"	"GSM941845"	"GSM941846"	"GSM941847"	"GSM941848"	"GSM941849"	"GSM941850"	"GSM941851"
!Sample_status	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"	"Public on Jul 01 2016"
!Sample_submission_date	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"	"Jun 01 2012"
!Sample_last_update_date	"Dec 09 2019"	"Dec 09 2019"	"Dec 09 2019"	"Dec 09 2019"	"Dec 09 2019"	"Dec 09 2019"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"	"Jul 01 2016"
!Sample_type	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"	"RNA"
!Sample_channel_count	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"	"1"
!Sample_source_name_ch1	"control_muscle biopsy"	"control_muscle biopsy"	"control_muscle biopsy"	"control_muscle biopsy"	"control_muscle biopsy"	"control_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"	"DMD_muscle biopsy"
!Sample_organism_ch1	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"	"Homo sapiens"
!Sample_characteristics_ch1	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"
!Sample_characteristics_ch1	"age: unknown"	"age: unknown"	"age: unknown"	"age: unknown"	"age: unknown"	"age: unknown"	"age: 11mo"	"age: 4yrs"	"age: 1yr 8mo"	"age: 4yrs"	"age: 8yrs"	"age: 5yrs"	"age: 6yrs"	"age: 5yrs"	"age: 4yrs"	"age: 3yrs"	"age: 3yrs"	"age: 1yr 11mo"	"age: 1yrs"	"age: 2yrs"	"age: 3yr 7mo"	"age: 7yrs"
!Sample_characteristics_ch1	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"
!Sample_growth_protocol_ch1	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"	"biopsy sample in clinic"
!Sample_molecule_ch1	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"	"total RNA"

In [8]:
char_lines = [line for line in geo_lines if line.startswith("!Sample_characteristics_ch1")]
for line in char_lines:
    print(line.strip())

!Sample_characteristics_ch1	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: CONTROL"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"	"sample type: Duchenne muscular dystrophy (DMD) patient"
!Sample_characteristics_ch1	"age: unknown"	"age: unknown"	"age: unknown"	"age: unknown"	"age: unknown"	"age: unknown"	"age: 11mo"	"age: 4yrs"	"age: 1yr 8mo"	"age: 4yrs"	"age: 8yrs"	"age: 5yrs"	"age: 6yrs"	"age: 5yrs"	"age: 4yrs"	"age: 3yrs"	"age: 3yrs"	"age: 1yr 11mo"	"age: 1yrs"	"age: 2yrs"	"age: 3yr 7mo"	"age: 7yrs"
!Sample_characteristics_ch1	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"	"tissue: skeletal muscle"

In [9]:
import re
char_lines = [
    line.strip().replace("!Sample_characteristics_ch1\t", "")
    for line in geo_lines
    if line.startswith("!Sample_characteristics_ch1")
]
char_split = [line.split("\t") for line in char_lines]
char_df = pd.DataFrame(char_split)
char_df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,"""sample type: CONTROL""","""sample type: CONTROL""","""sample type: CONTROL""","""sample type: CONTROL""","""sample type: CONTROL""","""sample type: CONTROL""","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...",...,"""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD...","""sample type: Duchenne muscular dystrophy (DMD..."
1,"""age: unknown""","""age: unknown""","""age: unknown""","""age: unknown""","""age: unknown""","""age: unknown""","""age: 11mo""","""age: 4yrs""","""age: 1yr 8mo""","""age: 4yrs""",...,"""age: 6yrs""","""age: 5yrs""","""age: 4yrs""","""age: 3yrs""","""age: 3yrs""","""age: 1yr 11mo""","""age: 1yrs""","""age: 2yrs""","""age: 3yr 7mo""","""age: 7yrs"""
2,"""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""",...,"""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle""","""tissue: skeletal muscle"""

In [10]:
meta_df = char_df.T
meta_df.columns = ["sample_type", "age_raw", "tissue"]
meta_df.head()

              sample_type         age_raw                     tissue
0  "sample type: CONTROL"  "age: unknown"  "tissue: skeletal muscle"
1  "sample type: CONTROL"  "age: unknown"  "tissue: skeletal muscle"
2  "sample type: CONTROL"  "age: unknown"  "tissue: skeletal muscle"
3  "sample type: CONTROL"  "age: unknown"  "tissue: skeletal muscle"
4  "sample type: CONTROL"  "age: unknown"  "tissue: skeletal muscle"

In [11]:
meta_df["disease_status"] = meta_df["sample_type"].apply(
    lambda x: "Control" if "control" in x.lower() else "DMD"
)
meta_df[["sample_type", "disease_status"]].head(10)

                                         sample_type disease_status
0                             "sample type: CONTROL"        Control
1                             "sample type: CONTROL"        Control
2                             "sample type: CONTROL"        Control
3                             "sample type: CONTROL"        Control
4                             "sample type: CONTROL"        Control
5                             "sample type: CONTROL"        Control
6  "sample type: Duchenne muscular dystrophy (DMD...            DMD
7  "sample type: Duchenne muscular dystrophy (DMD...            DMD
8  "sample type: Duchenne muscular dystrophy (DMD...            DMD
9  "sample type: Duchenne muscular dystrophy (DMD...            DMD

Disease status has been annotated to "Control" or "DMD"

In [13]:
def parse_age_to_years(age_str):
    if "unknown" in age_str.lower():
        return None

    years = 0
    months = 0

    y_match = re.search(r"(\d+)\s*yr", age_str)
    if y_match:
        years = int(y_match.group(1))

    m_match = re.search(r"(\d+)\s*mo", age_str)
    if m_match:
        months = int(m_match.group(1))

    return years + months / 12

In [14]:
meta_df["age_years"] = meta_df["age_raw"].apply(parse_age_to_years)
meta_df[["age_raw", "age_years"]].head(15)

           age_raw  age_years
0   "age: unknown"        NaN
1   "age: unknown"        NaN
2   "age: unknown"        NaN
3   "age: unknown"        NaN
4   "age: unknown"        NaN
5   "age: unknown"        NaN
6      "age: 11mo"   0.916667
7      "age: 4yrs"   4.000000
8   "age: 1yr 8mo"   1.666667
9      "age: 4yrs"   4.000000
10     "age: 8yrs"   8.000000
11     "age: 5yrs"   5.000000
12     "age: 6yrs"   6.000000
13     "age: 5yrs"   5.000000
14     "age: 4yrs"   4.000000

In [15]:
def assign_stage(row):
    if row["disease_status"] == "Control":
        return "Control"
    elif row["age_years"] is None:
        return None
    elif row["age_years"] < 3:
        return "Early"
    elif 3 <= row["age_years"] <= 6:
        return "Mid"
    else:
        return "Late"

In [16]:
meta_df["stage"] = meta_df.apply(assign_stage, axis=1)

meta_df[["disease_status", "age_years", "stage"]]

   disease_status  age_years    stage
0         Control        NaN  Control
1         Control        NaN  Control
2         Control        NaN  Control
3         Control        NaN  Control
4         Control        NaN  Control
5         Control        NaN  Control
6             DMD   0.916667    Early
7             DMD   4.000000      Mid
8             DMD   1.666667    Early
9             DMD   4.000000      Mid
10            DMD   8.000000     Late
11            DMD   5.000000      Mid
12            DMD   6.000000      Mid
13            DMD   5.000000      Mid
14            DMD   4.000000      Mid
15            DMD   3.000000      Mid
16            DMD   3.000000      Mid
17            DMD   1.916667    Early
18            DMD   1.000000    Early
19            DMD   2.000000    Early
20            DMD   3.583333      Mid
21            DMD   7.000000     Late

In [17]:
start_idx = geo_lines.index("!series_matrix_table_begin\n") + 1
end_idx = geo_lines.index("!series_matrix_table_end\n")

expr_lines = geo_lines[start_idx:end_idx]
from io import StringIO
expr_df = pd.read_csv(
    StringIO("".join(expr_lines)),
    sep="\t"
)

expr_df.head()

,ID_REF,GSM941830,GSM941831,GSM941832,GSM941833,GSM941834,GSM941835,GSM941836,GSM941837,GSM941838,...,GSM941842,GSM941843,GSM941844,GSM941845,GSM941846,GSM941847,GSM941848,GSM941849,GSM941850,GSM941851
0,1007_s_at,8.194030,7.972467,8.157134,7.636012,8.179456,8.157134,8.548834,8.160013,7.763270,...,8.489141,8.286313,8.719496,8.344026,8.212786,7.810675,8.184730,7.774867,8.458218,8.392681
1,1053_at,6.298441,6.394953,5.997119,6.346331,6.203464,6.292238,6.585303,6.757991,6.527328,...,6.551727,6.389537,6.588681,6.768794,6.649650,7.223194,7.050130,6.506544,6.450446,6.439627
2,117_at,4.203416,3.652012,4.175532,4.533106,4.086246,4.533106,5.183139,4.639175,4.763014,...,4.760687,4.536537,4.980105,4.476347,4.241995,4.165596,5.489344,5.068763,5.323427,4.571806
3,121_at,3.880678,3.982034,3.880678,3.880678,3.880678,3.880678,3.881049,3.897314,3.880678,...,4.895792,3.880678,3.880678,3.880678,3.880678,4.144318,3.880678,3.880678,3.880678,3.931564
4,1255_g_at,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,...,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655,2.261655

In [18]:
expr_df.shape
expr_df.columns[:10]

Index(['ID_REF', 'GSM941830', 'GSM941831', 'GSM941832', 'GSM941833',
       'GSM941834', 'GSM941835', 'GSM941836', 'GSM941837', 'GSM941838'],
      dtype='object')

In [19]:
gsm_line = [line for line in geo_lines if line.startswith("!Sample_geo_accession")][0]
gsm_ids = gsm_line.strip().replace("!Sample_geo_accession\t", "").split("\t")

gsm_ids

['"GSM941830"',
 '"GSM941831"',
 '"GSM941832"',
 '"GSM941833"',
 '"GSM941834"',
 '"GSM941835"',
 '"GSM941836"',
 '"GSM941837"',
 '"GSM941838"',
 '"GSM941839"',
 '"GSM941840"',
 '"GSM941841"',
 '"GSM941842"',
 '"GSM941843"',
 '"GSM941844"',
 '"GSM941845"',
 '"GSM941846"',
 '"GSM941847"',
 '"GSM941848"',
 '"GSM941849"',
 '"GSM941850"',
 '"GSM941851"']

In [20]:
meta_df.index = gsm_ids
meta_df

,sample_type,age_raw,tissue,disease_status,age_years,stage
"""GSM941830""","""sample type: CONTROL""","""age: unknown""","""tissue: skeletal muscle""",Control,NaN,Control
"""GSM941831""","""sample type: CONTROL""","""age: unknown""","""tissue: skeletal muscle""",Control,NaN,Control
"""GSM941832""","""sample type: CONTROL""","""age: unknown""","""tissue: skeletal muscle""",Control,NaN,Control
"""GSM941833""","""sample type: CONTROL""","""age: unknown""","""tissue: skeletal muscle""",Control,NaN,Control
"""GSM941834""","""sample type: CONTROL""","""age: unknown""","""tissue: skeletal muscle""",Control,NaN,Control
"""GSM941835""","""sample type: CONTROL""","""age: unknown""","""tissue: skeletal muscle""",Control,NaN,Control
"""GSM941836""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 11mo""","""tissue: skeletal muscle""",DMD,0.916667,Early
"""GSM941837""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 4yrs""","""tissue: skeletal muscle""",DMD,4.000000,Mid
"""GSM941838""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 1yr 8mo""","""tissue: skeletal muscle""",DMD,1.666667,Early
"""GSM941839""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 4yrs""","""tissue: skeletal muscle""",DMD,4.000000,Mid
"""GSM941840""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 8yrs""","""tissue: skeletal muscle""",DMD,8.000000,Late
"""GSM941841""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 5yrs""","""tissue: skeletal muscle""",DMD,5.000000,Mid
"""GSM941842""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 6yrs""","""tissue: skeletal muscle""",DMD,6.000000,Mid
"""GSM941843""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 5yrs""","""tissue: skeletal muscle""",DMD,5.000000,Mid
"""GSM941844""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 4yrs""","""tissue: skeletal muscle""",DMD,4.000000,Mid
"""GSM941845""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 3yrs""","""tissue: skeletal muscle""",DMD,3.000000,Mid
"""GSM941846""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 3yrs""","""tissue: skeletal muscle""",DMD,3.000000,Mid
"""GSM941847""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 1yr 11mo""","""tissue: skeletal muscle""",DMD,1.916667,Early
"""GSM941848""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 1yrs""","""tissue: skeletal muscle""",DMD,1.000000,Early
"""GSM941849""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 2yrs""","""tissue: skeletal muscle""",DMD,2.000000,Early
"""GSM941850""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 3yr 7mo""","""tissue: skeletal muscle""",DMD,3.583333,Mid
"""GSM941851""","""sample type: Duchenne muscular dystrophy (DMD...","""age: 7yrs""","""tissue: skeletal muscle""",DMD,7.000000,Late

## Sample Metadata Construction and Alignment

Sample-level metadata were extracted directly from the header annotations of the GEO series matrix file (GSE38417). Since GEO series matrix files store metadata in structured header lines rather than as part of the expression table, metadata parsing was performed independently of expression data loading.

Specifically, `!Sample_characteristics_ch1` fields were used to retrieve:
- Disease status (Control vs DMD)
- Age annotations
- Tissue type

Age values, originally provided as heterogeneous string formats (years, months, or combinations thereof), were converted into numeric values (years) to enable downstream stratification. Based on age, DMD samples were categorized into Early (less than 3 years), Mid (3 to 6 years), and Late (greater than 6 years) disease stages, while control samples were retained as a separate reference group.

At this stage, a clean and reproducible metadata table has been established, forming the foundation for all subsequent differential expression and systems-level analyses.

## Notebook 01 Summary and Next Steps

This notebook establishes the foundational data structures required for downstream transcriptomic analysis of Duchenne Muscular Dystrophy. Using the GEO series matrix file (GSE38417), raw expression data and sample-level metadata were parsed and structured in a reproducible manner.

Key outcomes of this notebook include:
- Successful extraction of gene expression values from the GEO series matrix table
- Independent parsing and structuring of sample metadata from GEO header annotations
- Conversion of heterogeneous age annotations into numeric values
- Stratification of DMD samples into Early, Mid, and Late disease stages based on age
- Assignment of GSM accession identifiers to ensure consistent sample handling

At this stage, clean and validated metadata and expression matrices are available and ready for analysis. No biological inference is performed in this notebook.

The next notebook (Notebook 02) builds upon this foundation to perform differential expression analyses across disease states and progression stages, enabling downstream pathway and systems-level interpretation.

In [26]:
# Saving processed data
meta_df.to_csv(r"C:\Users\Lenovo\Desktop\UG Stream\Notebooks\01 - Metadata.csv")
expr_df.to_csv(r"C:\Users\Lenovo\Desktop\UG Stream\Notebooks\01 - Expr Data Cleaned.csv")
print("Saved!")

Saved!